[ ca ]
default_ca = CA_default

[ CA_default ]
dir              = ./tests/pki
database         = $dir/index.txt
serial           = $dir/serial
crlnumber        = $dir/crlnumber
default_crl_days = 30
default_md       = sha256
preserve         = no
policy           = policy_anything

[ policy_anything ]
countryName            = optional
stateOrProvinceName    = optional
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional

[ crl_ext ]
authorityKeyIdentifier=keyid:always
